{% extends 'base.html.twig' %}

{% block title %}Hello MovieSeeController!{% endblock %}

{% block body %}
    <div class='search'>
        <div class="wrapper">        
            {% if messages is defined and messages|length > 0 %}
                <div class='messages'>
                    {% for imdbID, message in messages %}
                        <p>{{ imdbID }} {{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <h1>{{ title }}</h1>

            <form method="post" action='{{ path("searchMovie") }}'>
                <input type="hidden" name='page' value='1'>
            
              
            </form>
        

            {% if movies is defined %}
                <form method="post" name="action" action="{{ path('updateTooSeeAndSeeMovieInfo') }}"> 
                    <table>
                        <thead>
                            <th>Poster</th>
                            <th>Titre</th>
                            <th>Film à voir</th>
                            <th>Film vu</th>
                        </thead>
                        <tbody>
                            {% for key, movie in movies %}
                                {% if watch_infos.toSee[movie.imdbID] is not null %}
                                    {% set to_see = 'checked' %}
                                {% else %}
                                    {% set to_see = '' %}
                                {% endif %}

                                {% if watch_infos.see[movie.imdbID] is not null %}
                                    {% set see = 'checked' %}
                                {% else %}
                                    {% set see = '' %}
                                {% endif %}

                                <tr>
                                    <td>
                                        <a href="{{ path('getMovieDetail', {'imdbID': movie.imdbID}) }}">
                                            <img src="{{ movie.poster }}" alt="poster" class='poster'>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('getMovieDetail', {'imdbID': movie.imdbID}) }}">
                                            {{ movie.name }} <br> {{ movie.year }} 
                                        </a>
                                    </td>
                                    <td>
                                        <label class="container">
                                            <input 
                                                type="checkbox" 
                                                name='movies[{{ movie.imdbID }}][to_see]'
                                                {{ to_see }}
                                            >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="container">
                                            <input 
                                                type="checkbox" 
                                                name='movies[{{ movie.imdbID }}][see]' 
                                                {{ see }}
                                            >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class='bottom-form'>
                        <input type="submit" value="Enregister" class="rkmd-btn btn-green ripple-effect">   
                    </div>
                </form>
            {% endif %}

        {% if error is defined and error|length > 0 %}
            <div class='error'>
                <span>
                    {{ error }}
                </span>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

