{% extends 'base.html.twig' %}

{% block title %}Chercher un film{% endblock %}

{% block body %}
    <div class='search'>
        <div class="wrapper">        
            {% if messages is defined and messages|length > 0 %}
                <div class='messages'>
                    {% for imdbID, message in messages %}
                        <p>{{ imdbID }} {{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <h1>Chercher un film</h1>

            <form method="post" action='{{ path("searchMovie") }}'>
                <input type="hidden" name='page' value='1'>
            
                <h3><label for="search">Nom du Film</label></h3>
                <input id="search" type="text" name="search" value="{{ search }}"/>
            
                <input type="submit" value="Chercher"/>
            </form>
        

            {% if results is defined %}
                <form method="post" name="action" action="{{ path('updateTooSeeAndSeeMovieInfo') }}"> 
                    <table>
                        <thead>
                            <th>Poster</th>
                            <th>Titre</th>
                            <th>Film/Série</th>
                            <th>Film à voir</th>
                            <th>Film vu</th>
                        </thead>
                        <tbody>
                            {% for key, result in results %}
                                {% if watch_infos.toSee[result.imdbID] is not null %}
                                    {% set too_see = 'checked' %}
                                {% else %}
                                    {% set too_see = '' %}
                                {% endif %}

                                {% if watch_infos.see[result.imdbID] is not null %}
                                    {% set see = 'checked' %}
                                {% else %}
                                    {% set see = '' %}
                                {% endif %}

                                <tr>
                                    <td>
                                        <a href="{{ path('getMovieDetail', {'imdbID': result.imdbID}) }}">
                                            <img src="{{ result.Poster }}" alt="poster" class='poster'>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('getMovieDetail', {'imdbID': result.imdbID}) }}">
                                            {{ result.Title }} <br> {{ result.Year }} 
                                        </a>
                                    </td>
                                    <td>{{ result.Type }}</td>
                                    <td>
                                        <label class="container">
                                            <input 
                                                type="checkbox" 
                                                name='movies[{{ result.imdbID }}][to_see]'
                                                {{ too_see }}
                                            >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="container">
                                            <input 
                                                type="checkbox" 
                                                name='movies[{{ result.imdbID }}][see]' 
                                                {{ see }}
                                            >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                <div class='bottom'>
                        <input type="submit" value="Enregister">   
                </div>
                </form>

                <div class='bottom'>
                    <form method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="{{ path('searchMovie') }}">
                            <input id="search" type="hidden" name="search" value="{{ search }}"/>
                            <input type="hidden" name='page' value='{{ page - 1 }}'>
                        
                            <input type="submit" value="Page précédante"/>
                    </form>
                    <form method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="{{ path('searchMovie') }}">
                            <input id="search" type="hidden" name="search" value="{{ search }}"/>
                            <input type="hidden" name='page' value='{{ page + 1 }}'>
                        
                            <input type="submit" value="Page suivante"/>
                    </form>
                </div>
            {% endif %}

        {% if error is defined and error|length > 0 %}
            <div class='error'>
                <span>
                    {{ error }}
                </span>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
