{% extends 'base.html.twig' %}

{% block title %}Détail {{ movie.name }}{% endblock %}

{% block body %}
<div class='wrapper detail'>
    <h1>{{ movie.name }}</h1>

    <div class='image'>
        <img src="{{ movie.poster }}" alt="poster">
    </div>

    <div>
        <h2>Résumé</h2>
        <p>
            {{ movie.plot }}
        </p>
    </div>

    <div>
        <h2>Année</h2>
        <p>{{ movie.year }}</p>
    </div>

    <div>
        <h2>Acteur</h2>
        <ul>
            {% for actor in movie.actors|split(',') %}
                <li>{{ actor }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Réalisateur</h2>
        <p>
            {{ movie.director }}
        </p>
    </div>

    <div>
        <h2>Récompense</h2>
        <ul>
            {% for award in movie.awards|split('.') %}
                {% if award %}
                    <li>{{ award }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
